* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mandali', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgba(107, 102, 102, 0.5);
    background-image: url("https://source.unsplash.com/1600x900/?sunny, sky");
}

.card {
    background: #000000d0;
    color: #FFFFFF;
    padding: 2em;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex; 
    justify-content: center;
    align-items: center;
}

input.searchbar {
    padding: .2em 1em;
    border: none;
    outline:  none;
    border-radius: 22px;
    width: calc(100% - 110px);
    background: #c7c7c72b;
    color: white;
    font-family: inherit;
    font-size: 120%;
}

button {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border:  none;
    outline: none;
    margin-left: 15px;
    background: #c7c7c72b;
    color: white;
    transition: .1s ease-in;
}

button:hover {
    background: #c7c7c75b;
}

/* Weather */ 

/*.weather.loading {
    visibility: hidden;
    max-height: 0px;
    position: relative;
}

 .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
} */

.city {
    margin: 20px 0 10px;
    font-size: 2em;
}

.description, 
.feel {
    margin-left: 15px;
    font-weight: bold;
    font-size: 1.1em;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 15px;
}

.icon {
    width: 130px;
}

.description {
    text-transform: capitalize;
}

.temp {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 7em;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 0;
    font-size: 1.1em;
}

.humidity, .wind, .sunset, .sunrise {
    display: flex;
    justify-content: space-between;
}

.txt {
    font-weight: bold;
}

.bottom .fas {
    padding: 10px;
}

.humidity-icon {
    color: rgb(25, 197, 228);
}

.wind-icon {
    color:rgba(255, 255, 255, 0.8); 
}




